<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_EIS"
                         transferMode="Streamed"
                         maxReceivedMessageSize="102400" 
                         openTimeout="00:01:00"
                         closeTimeout="00:01:00"
                         receiveTimeout="00:10:00"
                         sendTimeout="00:10:00">
                    <readerQuotas maxArrayLength="102400" maxStringContentLength="102400"/>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint name="BatteryServer"
                      address="net.tcp://localhost:25565/BatteryServer"
                      binding="netTcpBinding"
                      bindingConfiguration="NetTcpBinding_EIS"
                      contract="Common.IBatteryCommands" />
        </client>
    </system.serviceModel>
</configuration>